:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #FC3D49;
  --bg-color: #FDFDFE;
  --max-width: 2560px;
  --min-width: 1044px;
}

* {
  /* 禁止用户选择文本 */
  user-select: none;
  /* 禁止用户拖拽元素 */
  -webkit-user-drag: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  min-width: 1230px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  min-height: 100vh;
  min-width: var(--min-width);
  max-width: var(--max-width);
  position: relative;
}

h2 {
  margin: 1rem 0;
}

img {
  pointer-events: none;
}

/* 鼠标移入放大 */
.scale {
  /* 行盒不能触发transform */
  display: block;
  transition: .2s;
}

.scale:hover {
  transform: scale(1.1);
}

/* 防止 el-avatar 被其他元素挤变形 */
.el-avatar {
  overflow: visible !important;
}

.el-avatar img {
  border-radius: 50%;
}